
<div class="csv-lists">
      <% csvRecords.forEach((record,ind)=>{ %>
        
        <div class="csv-record">
            <p class="name">
                <%= record.originalname  %>
            </p>
            <div class="actions">
                <a class="view" title="view" href="/csv-data/<%=record._id%>?start=1">
                    <img src="/images/view.svg" alt="">
                </a>
                <a class="delete" title="delete" href="/delete/<%= record._id %>">
                    <img src="/images/delete.svg"/>
                </a>
            </div>

        </div>

     <% }) %>          
</div>