<div class="form-wrapper">
    <form action="/upload-file-csv" method="post" enctype="multipart/form-data" >
        <input required name="CSVfileUpload" id="csv-upload" type="file" accept=".csv">
        <label for="csv-upload">
            <img src="images/upload.svg"/>
            <div>Select a file or drag here</div>
            <span class="file-upload-btn">Select a file</span>
        </label>

        <div class="submit-wrapper">
            <p class="selected-file"></p>
            <button type="submit">submit</button>
        </div>
    </form>
</div>